<h2>Change <%= current_user.name.to_s.humanize %>'s Password </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'New Password' %>
    <% if @minimum_password_length %>
      <p class="min">
        ( <%= @minimum_password_length %> 
        characters minimum )
      </p>
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",  placeholder: 'Confirm New Password' %>
  </div>

  <div class="field">
    <%= f.password_field :current_password, autocomplete: "current-password",  placeholder: 'Current New Password' %>
    <p class="min">
      (we need your current password to confirm your changes)
    </p>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back, class: "button" %>
