<div id="user">
  <%= render partial: "shared/user", locals: { user: @user } %>
</div>

<div class="bio">
  <h3>Bio</h3>
  <p><%= @user.bio %></p>
</div>

<ul>
  <% @user.recent_posts.each do |post| %>
    <li>
      <%= link_to "/users/#{@user.id}/posts/#{post.id}", id: "post" do %>
        <%= render partial: "shared/post", locals: { post: post } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "See all posts", "/users/#{@user.id}/posts?page=1", class: "button" %>

<%= link_to "Back", :back, class: "button" %>