<div id="user-container">
  <%= render partial: "users/user_info", locals: { user: @user } %>
</div>

<div>
  <h3>Biography</h3>
  <p><%= @user.bio %></p>
</div>

<div>
  <% @user.recent_posts do |post| %>
    <li>
      <%= link_to "/users/#{@user.id}/posts/#{post.id}", id: "post" do %>
        <%= render partial: "shared/post", locals: { post: post } %>
      <% end %>
    </li>
  <% end %>
</div>

<%= link_to "See all posts", "/users/#{@user.id}/posts?page=1" %>