<div class="post">
  <h3><%= post.title %> by <%= post.author.name %></h3>
  <p><%= post.text %></p>
  <p class="counter">
    Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %>
  </p>
</div>