<div>
   <%= render partial: "shared/user", locals: { user: @user } %>
</div>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
<%= link_to 'New Post', new_user_post_path(@user) %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to "/users/#{@user.id}/posts/#{post.id}", id: "post" do %>
        <%= render partial: "shared/post", locals: { post: post } %>
      <% end %>
      <% if post.recent_comments.any? %>
        <ul class="info" id="comments">
          <% post.recent_comments.each do |comment| %>
            <li>
              <p><%= comment.author.name %>: <%= comment.text %></p>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate @posts %>