<div>
    <%= render partial: "shared/post", locals: { post: @post } %>
</div>

<ul class="info">
  <% @post.comments.each do |comment| %>
    <li>
      <p>
        <%= comment.author.name %>: <%= comment.text %>
      </p>
    </li>
  <% end %>
</ul>

<%= render partial: "shared/like", locals: { post: @post } %>
<%= link_to 'New Comment', new_user_post_comment_path(post_id: params[:id]) class: "button" %>
<%= link_to "Back", :back, class: "button" %>