<%= render partial: "shared/post", locals: { post: @post } %>
<%= render partial: "shared/like", locals: { post: @post } %>

<ul class="info">
  <% @post.comments.each do |comment| %>
    <li>
      <p>
        <%= comment.author.name %>: <%= comment.text %>
      </p>
      <% if can? :destroy, comment %>
      <%= button_to 'Delete Comment', user_post_comment_path(user_id: @post.author_id, post_id: @post.id, id: comment.id), method: :delete, class: "button" %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Comment', new_user_post_comment_path(post_id: params[:id]), class: "button" %>
<%= link_to "Back", :back, class: "button" %>